.word-container {
	display: flex;
	transition: 150ms;
	transform: scale(1);
	margin: 0;
	padding: 2rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	/* width: 100vh; */
	/* border: 8px solid pink; */
}

.word-container:hover {
	transition: 150ms;
	transform: scale(1.01);
}
.word:hover,
.guess:hover {
	transition: 150ms alternate;
	transform: scale(1.05) rotateZ(16deg);
	box-shadow: 1px 1px 16px rgba(255, 255, 255, 0.378);
}

.guess-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.letter-container {
	display: grid;
	/* create as many columns possible as the container allows, at the least 40px wide, share space equally */
	grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
	gap: 10px;
	border: 5ps dotted orange;
}

.character {
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(39, 37, 37);
	border-radius: 10px;
	padding: 10px;
	font-size: 1.25rem;
	text-align: center;
	border: 2px solid rgb(49, 48, 48);
	background: rgb(82, 201, 141);
	box-shadow: 0px 0px 8px rgba(212, 209, 209, 0.363);
}

.character-word {
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.2rem;
	border: 1px solid rgb(226, 220, 220);
	color: rgb(226, 220, 220);
	border-radius: 10px;
	padding: 12px;
	font-size: 1.85rem;
	text-align: center;
}

.character:hover {
	transition: 150ms;
	transform: scale(1.2);
}

.character:active {
	transition: 150ms;
	transform: scale(1.25);
	box-shadow: 0px 0px 5px #d6d4d3;
}

.currentWord {
	text-align: center;
	color: red;
	text-shadow: 0px 0px 1px black;
	/* width: 50%; */
	/* height: 50%; */
	border: 1px solid black;
	box-shadow: 0px 0px 12px black;
	font-size: 2rem;
}
