* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	background-color: rgb(182, 182, 182);
}

h1 {
	padding: 1rem;
	font-size: clamp(2rem, 12vw + 1rem, 2rem);
	text-align: center;
}

.btn {
	height: 2rem;
	width: 8rem;
	background: orange;
	border: 1px solid black;
	border-radius: 1rem;
}

.top-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-row {
	padding: 1rem;
	display: flex;
	width: 90%;
	gap: 10px;
}

.main-container {
	display: flex;
	flex-direction: column;
	height: 99vh;
	margin: 0 auto;

	/* delete this when testing is done */
	/* border: 4px dotted black; */
}

.game-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* flex-grow: 1; */
	padding: min(3vw, 4rem);

	/* delete this when testing is done */
	/* border: 2px solid green; */
}

.image-content {
	display: flex;

	/* delete this when testing is done */
	/* border: 4px dotted rgba(223, 9, 9, 0.3); */
}
.game-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: Space-evenly;
	width: 100%;

	/* delete this when testing is done */
	border: 4px dotted rgba(223, 9, 9, 0.3); 
}

.guess-content {
	/* delete this when testing is done */
	/* border: 2px dotted purple; */
	padding: 4rem;
}

.start-view-container {
	width: 100%;
	height: 100%;
	border: 1ps solid black;
}
.score-view-container {
	width: 100%;
	height: 100%;
}
.game-view-container {
	width: 100%;
	height: 100%;
}





  
/* hidden divs */

.hidden {
    display: none;
}

.start-view-section {
    background-color: #957a29;
}

.game-view-section {
    background-color: #09b731;
}

.score-view-section {
    background-color: #1b5da4;
}

.logo {
	display: flex;
	flex-direction: row;
	min-width: 200px;
	max-width: 350px;
	
	/* max-width: 80%; */
}

@media (max-width: 1140px) {
	.logo {
		flex-direction: column-reverse;
		width: 280px;
	}
}

@media (min-width: 680px) {
	.game-container {
		flex-direction: row;
	}
}

@media (max-width: 420px) {
	.image-content {
		width: 50%;
	}
}
 /*  TODO: Handle smol display.
