
#scoreboard {
	justify-content: center;
	font-size: 18px;
}

#scoreboard th {
  padding: 0;
  text-align: center;
  background-color: #F4A261;
  
  
}


#incorrectGuessesHeader{
  border-radius: 0 10px 0 0;
}

#scoreboard td {
  padding: 15px;
  text-align: center;
  background-color: #F4A261;
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.scoreboard-header {
	background-color: #F4A261;
	padding: 0.5rem;
	border-radius: 5px 5px 0 0;
  }


.game-over-view {
 padding: 1em;
}




#scoreboardBody td {
  padding: px;
  text-align: center; 
  background-color: #f9f9f9;
}


#scoreboardBodyContainer {
  overflow-x: hidden;  
  margin-top: 1em;
  padding: 1rem;
}

#scoreboardBody {
  white-space: nowrap;   
    white-space: normal; 
  
}

td .date-time{
  padding: 0;
}




@media screen and (max-width: 600px) {
  #scoreboard th,
  #scoreboard td {
    font-size: 0.8rem;
  }

  #scoreboardBody td {
    /* padding: 30px; */
    font-size: 0.8rem;
	padding: 6px;
  }

  


  #scoreboardBody {
    white-space: normal; 
  }
}


#sortBtn{
	padding: 5px 20px;
	font-size: 1rem;
	background-color: #e9c46a;
	border: none;
	border-radius: 10px 10px 0px 0px;
	transition: background-color 0.5s ease;
}

#sort:hover {
	background-color: #ebbb43;
	cursor: pointer;
	transform: scale(1.1);
	cursor: pointer;
}